<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <p>{% if breed %}
        The breed you entered is {{ breed }}
        Update it in the form below:
        {% else %}
        Please Enter your breed
    {% endif %} </p>

    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        {{ form.breed.label }}{{ form.breed() }}
        {{ form.submit() }}
    </form>
</body>
</html>