{% extends "base.html" %}

{% block content %}
    
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Register a User</h1>
    </div>
</div>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }} <br/>
    {{ form.username.label }} {{ form.username() }} <br/>
    {{ form.password.label }} {{ form.password() }} <br />
    {{ form.password_cmp.label }} {{ form.password_cmp() }} <br />
    {{ form.submit() }}
</form>
{% endblock %}